.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: black;
}
.header .link {
    align-items: center;
    background-image: linear-gradient(102deg, #436DDA -4.52%, #BF79BC 97.67%);
    border-radius: 40px;
    box-shadow: rgb(151 65 252 / 20%) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Inter;
    font-weight: 400;
    height: 40px;
    font-size: 25px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}